<style>
	.title-news-product li{padding-left: 15px;     position: relative; font-size: 18px;     color: #000;}
	.title-news-product li::after {
		content: "";
		width: 3px;
		height: 3px;
		border-radius: 50%;
		background: rgba(0,0,0,.8);
		position: absolute;
		top: 13px;
		left: 0;
	}
	@media screen and (max-width: 750px) {
		.product-single__title{font-size: 23px !important;}
		.title-news-product{    margin-top: 10px !important;}
		.title-news-product li{font-size: 16px !important;}
	}
</style>

<!-- Y1s Electric Toothbrush-->

{% if variant.id == 41574142738610  %}
	<ul class="title-news-product">
		<li>38,000 RPM Strong Power</li>
		<li>3 Brushing Modes</li>
		<li>180 Days Battery life</li>
		<li>200ml detachable reservoir/water tank</li>
		<li>Up to 1200 pulses per minute</li>
	</ul>
{% endif %}

<!--U3 For 1 Years Set-->
{% if variant.id == 41561461457074 or variant.id == 41564783542450 %}
	<ul class="title-news-product">
		<li>38,000 RPM Strong Power</li>
		<li>Large-sized Color Screen</li>
		<li>Noise Reduction Technology</li>
		<li>4 Brushing Modes with 3 strengths</li>
		<li>Faded Filaments</li>
		<li>Dupont Premium Material</li>
		<li>Fast Local Shipping</li>
	</ul>
{% endif %}

<!--Y1 For 1 Years Set:-->
{% if variant.id == 41563827568818  %}
	<ul class="title-news-product">
		<li>38,000 RPM Strong Power</li>
		<li>Ergonomic grip design</li>
		<li>3 Brushing Modes</li>
		<li>180 Days Battery life</li>
		<li>DuPont High Density Filaments</li>
		<li>End Rounded Filaments</li>
		<li>Fast Local Shipping</li>
	</ul>
{% endif %}

<!--Double Y1s set：-->
{% if variant.id == 41564780069042  %}
	<ul class="title-news-product">
		<li>38,000 RPM Strong Power</li>
		<li>Ergonomic grip design</li>
		<li>Noise Reduction Technology</li>
		<li>3 Brushing Modes</li>
		<li>180 Days Battery life</li>
		<li>Type-C Quick Charging</li>
		<li>IPX7 Waterproof</li>
		<li>Fast Local Shipping</li>
	</ul>
{% endif %}

<!--P1 With 3 Brush head:-->
{% if variant.id == 41561344344242  %}
	<ul class="title-news-product">
		<li>38,000 Vibrations Per Minute</li>
		<li>3 Brushing Modes</li>
		<li>4.5 Hours Fast Charging, 180 Days Battery Life</li>
		<li>Faded Filaments</li>
		<li>Dupont Premium Material</li>
		<li>Fast Local Shipping</li>
	</ul>
{% endif %}

<!--Double P1 Set:-->
{% if variant.id == 41564782198962  %}
	<ul class="title-news-product">
		<li>38,000 Vibrations Per Minute</li>
		<li>Noise Reduction Technology</li>
		<li>Lightweight & Portable</li>
		<li>3 Brushing Modes</li>
		<li>Easy to Use</li>
		<li>4.5 Hours Fast Charging, 180 Days Battery Life</li>
		<li>IPX7 Waterproof</li>
		<li>Fast Local Shipping</li>
	</ul>
{% endif %}

<!--u1-->
{% if variant.id == 40829297098930  %}
	<ul class="title-news-product">
		<li>95-Day Battery Life</li>
		<li>200 ml Detachable Reservoir/Water Tank</li>
		<li>Up to 1,200 Pulses per Minute </li>
		<li>Smart Timer</li>
		<li>4 High-Performance Nozzles</li>
		<li>Accessible Water Refill and Detachable Water Tank</li>
		<li>Fast Local Shipping</li>
	</ul>
{% endif %}

<!--u3-->
{% if variant.id == 40829006577842  %}
	<ul class="title-news-product">
		<li>38,000 rpm for Real Power</li>
		<li>Large, Multicolor Display</li>
		<li>Noise-Reduction Technology</li>
		<li>4 Brushing Modes and 3 Strengths</li>
		<li>180-Day Battery life</li>
		<li>Type-C Quick Charging 2.0</li>
		<li>IPX7 Waterproof</li>
		<li>Fast Local Shipping</li>
	</ul>
{% endif %}

<!-- Y1s-->
{% if variant.id == 39401635971250  %}
	<ul class="title-news-product">
		<li>38,000 rpm for Real Power</li>
		<li>Ergonomic Grip Design</li>
		<li>Noise-Reduction Technology</li>
		<li>3 Brushing Modes</li>
		<li>180-Day Battery Life</li>
		<li>Type-C Quick Charging</li>
		<li>IPX7 Waterproof</li>
		<li>Fast Local Shipping</li>
	</ul>
{% endif %}

<!--  P1:-->
{% if variant.id == 40924515303602  %}
	<ul class="title-news-product">
		<li>38,000 Strikes per Minute</li>
		<li>Noise-Reduction Technology</li>
		<li>Light-Weight, Portable</li>
		<li>3 Brushing Modes</li>
		<li>Easy to Use</li>
		<li>4.5 Hours Fast Charging; 180-Day </li>
		<li>Battery Life</li>
		<li>IPX7 Waterproof</li>
		<li>Fast Local Shipping</li>
	</ul>
{% endif %}

<!--   粉色刷头:-->
{% if variant.id == 41468783657138  %}
	<ul class="title-news-product">
		<li>DuPont High-Density Filaments</li>
		<li>End Rounded Filaments</li>
		<li>3D Arc Design</li>
		<li>Fast Local Shipping</li>
	</ul>
{% endif %}

<!--   白色刷头：-->
{% if variant.id == 39376193061042  %}
	<ul class="title-news-product">
		<li>Faded Filaments</li>
		<li>Food-Grade Material</li>
		<li>Diamond-Grade Filaments</li>
		<li>95% Rounded Rate</li>
		<li>High Density</li>
		<li>Fast Local Shipping</li>
	</ul>
{% endif %}

  {% if show_vendor and product %}
		<div class="price__vendor">
			<dt>
				<span class="visually-hidden"> {{ 'products.product.vendor' | t }}</span>
			</dt>
			<dd>
				{{ product.vendor }}
			</dd>
		</div>
	{% endif %}

