 
<style>
.nav-news{width:100%;margin:0 auto;position:relative}
.nav-news-Ul{width:100%}
.nav-news-li{display:inline-block;text-align:center;padding:5px 0;  width:auto !important; margin-left:5%;}
.nav-news-s{width:100%;min-height:320px;background:#ffffff;position:absolute;top:55px;left:0;display:none}
.nav-news-li:hover .nav-news-s{display:block}
.nav-news-li:hover .nav-news-li-font{font-weight:600;color:000}
.nav-news-li:hover .nav-news-li-fon a{font-weight:600;color:000}
.nav-news-s ul li{padding:5px 0;width:28%}
.nav-news-li span{display:inline-block;height:60px;line-height:60px;font-size:15px}
.nav-news-li span:hover a{font-weight:400}
.nav-news-li:hover a{font-weight:400}
.nav-news-s .nav-news-s-warp li{font-size:14px}
.nav-news-s ul{width:100%;position:absolute}
.nav-news-s ul li{display:inline-block}
.nav-news-s-s{width:100%;position:absolute;text-align:center;top:65px;left:0;background:#ffffff}
.productListLi{width:190px;display:inline-block;margin-right:15px}
.productListLi p{padding:10px 0}
.nav-news-li:hover .nav-news-s-warp{display:block}
.nav-news-s-warp li .nav-news-s-s{display:none}
.nav-news-s-warp li:hover .nav-news-s-s{display:block}
.nav-news-s-s1{display:block}
.nav-news-s-warp li .nav-news-s-s1{display:block}
.nav-news-s-warp li:hover .nav-news-li-font2{color:000;font-weight:600}
.nav-news-s-warp li:hover .nav-news-li-font2 a{color:000;font-weight:600}
.productListLi:hover{font-weight:600}
.nav-news-li-xsdd .productListLi{margin-bottom:30px} 
.nav-news-lixe3{width:18%;     display: none;}
.nav-news-li-nomarginleft{margin-left:0 !important;}
@media screen and (max-width: 1280px) {
.nav-news-li{ margin-left:2% !important;}
.nav-news-li-nomarginleft{margin-left:0 !important;}
} 
@media screen and (max-width: 750px) {
.nav-news-li{ margin-left:0 !important;}
.nav-news-li-nomarginleft{margin-left:0 !important;}
} 
</style>

<div class="nav-news">
	<ul class="nav-news-Ul">
	<li class="nav-news-li nav-news-li-nomarginleft">
		<span class="nav-news-li-font">
			<a href="https://shop.usmile.com/collections/bundle-set">Bundle & Set</a>
		</span>
	</li>
	<li class="nav-news-li nav-news-li-stxt">
			<span class="nav-news-li-font">
				<a href="https://shop.usmile.com/collections/toothbrushes">Electric Toothbrushes</a>
			</span>
			<div  class="nav-news-s">
				<ul class="nav-news-s-warp">
					<li>
						<span class="nav-news-li-font2">
							<a href="https://shop.usmile.com/collections/u-series">Ultra Sonic Series</a>
						</span>						
						<div  class="nav-news-s-s nav-news-s-s1"> 
							<div class="productListLi">
								<a href="https://shop.usmile.com/products/usmile-u3-micro-bubble-ultrasonic-electric-toothbrush?variant=40829006577842">
									<img src="https://cdn.shopify.com/s/files/1/0528/0618/9234/files/02_05f96a38-053c-449c-b546-62fb6ff50e10.jpg?v=1641284709">
									<p>
									usmile U3
									</p>
								</a>
							</div>	
							<div class="productListLi">
								<a href="https://shop.usmile.com/products/usmile-u3-sonic-toothbrush-pro-series-teeth-whitening-toothbrush-head">
									<img src="//cdn.shopify.com/s/files/1/0528/0618/9234/products/08_ca72c91c-4d59-477d-9f72-4e21a5ff0f65_1024x1024@2x.jpg?v=1643026002">
									<p>
									U3 For 1 Year Set
									</p>
								</a>
							</div>			
							<div class="productListLi">
								<a href="https://shop.usmile.com/products/best-of-usmile-u3-electric-toothbrush-set">
									<img src="https://cdn.shopify.com/s/files/1/0528/0618/9234/products/20220127-105227_a6f73c99-277c-4bb8-a064-cff70a6ecbbc_1024x1024@2x.jpg?v=1643251996">
									<p>
									Double U3 Set
									</p>
								</a>
							</div>			
							
								
						</div>	
					</li>
					<li>
						<span class="nav-news-li-font2">
						<a href="https://shop.usmile.com/collections/roman-column-series">
							Roman Column Series
						</a>
						</span>						
						<div  class="nav-news-s-s">
							<div class="productListLi">
								<a href="https://shop.usmile.com/products/usmile-y1s-sonic-electric-toothbrush">
									<img src="https://cdn.shopify.com/s/files/1/0528/0618/9234/files/01_2447b101-7eda-40a9-9d86-fb6e97d46012.jpg?v=1641284709">
									<p>
										usmile Y1s 
									</p>
								</a>
							</div>	
							<div class="productListLi">
								<a href="https://shop.usmile.com/products/usmile-y1s-sonic-toothbrush-pro-series-teeth-whitening-toothbrush-head">
									<img src="https://cdn.shopify.com/s/files/1/0528/0618/9234/products/05_4100f651-ee66-4760-b667-060e393fe5fc_1024x1024@2x.jpg?v=1643073923">
									<p>
										Y1s For 1 Year Set
									</p>
								</a>
							</div>			
							<div class="productListLi">
								<a href="https://shop.usmile.com/products/usmile-y1s-electric-toothbrush-180-days-battery-sonic-tooth-brush-for-teeth-whitening-79-99-only-use-code">
									<img src="https://cdn.shopify.com/s/files/1/0528/0618/9234/products/01_1024x1024@2x.jpg?v=1642734962">
									<p>
										Double Y1s Set
									</p>
								</a>
							</div>	
						</div>	
					</li>
					<li>
						<span class="nav-news-li-font2">
							<a href="https://shop.usmile.com/collections/p-series">
								Classic Series
							</a>
						</span>	
						<div  class="nav-news-s-s">
							<div class="productListLi">
								<a href="https://shop.usmile.com/products/usmile-p1-sonic-electric-toothbrush">
									<img src="https://cdn.shopify.com/s/files/1/0528/0618/9234/files/03_308d8f82-cbc5-406f-8ebf-10387e7bcdaa.jpg?v=1641284709">
									<p>
									usmile P1 
									</p>
								</a>
							</div>	
							<div class="productListLi">
								<a href="https://shop.usmile.com/products/usmile-p1-sonic-toothbrush-pro-series-teeth-whitening-toothbrush-head">
									<img src="//cdn.shopify.com/s/files/1/0528/0618/9234/products/07_e82659a2-adb6-4168-8b43-d188f26d51c5_1024x1024@2x.jpg?v=1643023366">
									<p>
									P1 with 3 Brush head
									</p>
								</a>
							</div>
							<div class="productListLi">
								<a href="https://shop.usmile.com/products/best-of-usmile-p1-electric-toothbrush-set">
									<img src="//cdn.shopify.com/s/files/1/0528/0618/9234/products/02_19c12fa5-12dd-4a93-bdfc-bc106704915a_1024x1024@2x.jpg?v=1642752904">
									<p>
									Double P1 Set
									</p>
								</a>
							</div>	 
						</div> 
					</li>
				</ul>
			</div>
		</li>
		 
		<li class="nav-news-li nav-news-lixe2">
			<span class="nav-news-li-font">
				<a>Water Flossers</a>
			</span>
			<div  class="nav-news-s">
				<ul class="nav-news-s-warp">
					<li>
						<span class="nav-news-li-font2">
							<a href="https://shop.usmile.com/products/usmile-c1-water-flosser-90-days-battery-dental-oral-irrigator-travel-teeth-cleaner?variant=40829297098930">
							usmile C1 
							</a>
						</span>						
						<div  class="nav-news-s-s nav-news-s-s1">
							<div class="productListLi">
								<a href="https://shop.usmile.com/products/usmile-c1-water-flosser-90-days-battery-dental-oral-irrigator-travel-teeth-cleaner?variant=40829297098930">
									<img src="https://cdn.shopify.com/s/files/1/0528/0618/9234/files/04_be3168d6-db40-4948-ad90-80e528738b5a.jpg?v=1641284709">
								</a>
							</div>							 
						</div>						
					</li>					
					<li>
						<span class="nav-news-li-font2">
							<a href="https://shop.usmile.com/collections/all-water-flosser">
							  All Water flosser
							</a>
						</span>					 
					</li>
				</ul>
			</div>
		</li>
		<li class="nav-news-li nav-news-li-xsdd nav-news-lixe3" style="display: none;">
			<span class="nav-news-li-font">
				<a href="https://shop.usmile.com/collections/bundle-set">Bundle & Set</a>
			</span>
			<div  class="nav-news-s">
				<ul class="nav-news-s-warp">
					<li> 			
						<div  class="nav-news-s-s nav-news-s-s1"> 
							<div class="productListLi">
								<a href="https://shop.usmile.com/products/usmile-y1s-electric-toothbrush-180-days-battery-sonic-tooth-brush-for-teeth-whitening-79-99-only-use-code">
									<img src="https://cdn.shopify.com/s/files/1/0528/0618/9234/products/01_465b3910-f9c4-42e1-a2bc-84d2a84fd395_2048x.jpg?v=1642734963">
									 
								</a>
							</div>	
							<div class="productListLi">
								<a href="https://shop.usmile.com/products/best-of-usmile-u3-electric-toothbrush-set">
									<img src="https://cdn.shopify.com/s/files/1/0528/0618/9234/products/03_3486bd3a-5e04-4e47-8426-d767580c7f6d_2048x.jpg?v=1642747155">
									 
								</a>
							</div>	
							<div class="productListLi">
								<a href="https://shop.usmile.com/products/best-of-usmile-p1-electric-toothbrush-set">
									<img src="https://cdn.shopify.com/s/files/1/0528/0618/9234/products/02_19c12fa5-12dd-4a93-bdfc-bc106704915a_2048x.jpg?v=1642752904">
									 
								</a>
							</div>
							<div class="productListLi">
								<a href="https://shop.usmile.com/products/usmile-y1s-sonic-toothbrush-pro-series-teeth-whitening-toothbrush-head">
									<img src="https://cdn.shopify.com/s/files/1/0528/0618/9234/products/04_a461ac2d-11a7-4f9f-917e-2a48edafec6d_2048x.jpg?v=1643073922">
									 
								</a>
							</div>
							<div class="productListLi">
								<a href="https://shop.usmile.com/products/usmile-u3-sonic-toothbrush-pro-series-teeth-whitening-toothbrush-head">
									<img src="https://cdn.shopify.com/s/files/1/0528/0618/9234/products/08_2048x.jpg?v=1643026001">
									 
								</a>
							</div>
							<div class="productListLi">
								<a href="https://shop.usmile.com/products/usmile-p1-sonic-toothbrush-pro-series-teeth-whitening-toothbrush-head">
									<img src="https://cdn.shopify.com/s/files/1/0528/0618/9234/products/06_2048x.jpg?v=1643023108">
								</a>
							</div>
						</div>	
					</li>				 
				</ul>
			</div>
		</li> 
		<li class="nav-news-li nav-news-lixe4">
			<span class="nav-news-li-font">
				<a  href="https://shop.usmile.com/collections/accessories-1"> Accessories</a>
			</span>			
			<div  class="nav-news-s">
				<ul class="nav-news-s-warp">
					<li>
						<span class="nav-news-li-font2">
							<a href="https://shop.usmile.com/products/usmile-electric-toothbrush-head-white-2pcs">
							Pro Series
							</a>
						</span>						
						<div  class="nav-news-s-s nav-news-s-s1">
							<div class="productListLi">
								<a href="https://shop.usmile.com/products/usmile-electric-toothbrush-head-white-2pcs">
									<img src="https://cdn.shopifycdn.net/s/files/1/0528/0618/9234/products/2_5c29b02a-f83f-451f-963a-e7ff11bb52d3_2048x.png">
 
								</a>
							</div>							 
						</div>
					</li>					
					<li>
						<span class="nav-news-li-font2">
							<a href="https://shop.usmile.com/products/usmile-replacement-heads-2pcs-pro-series">
							Diamond Series
							</a>
						</span>						
						<div  class="nav-news-s-s">
							<div class="productListLi">
								<a href="https://shop.usmile.com/products/usmile-replacement-heads-2pcs-pro-series">
									<img src="https://cdn.shopifycdn.net/s/files/1/0528/0618/9234/products/head2_2048x.jpg?v=1615346930">
								</a>
							</div>							 
						</div>	
					</li>
				</ul>
			</div>
		</li>
		<li class="nav-news-li nav-news-li-st">
			<span class="nav-news-li-font">
				<a href="https://shop.usmile.com/blogs/oral-care">Blog</a>
			</span>
		</li>
	</ul>
</div>