

<style>
  
  .slideshow__text-wrap .slideshow__text-content{  height:100vh !important;}
  .slideshow__text-wrap .page-width{ max-width: 100% !important; width:100% !important;  padding-left: 0 !important;
    padding-right: 0 !important; height:100vh !important; }
  .slideshow__btn-wrapper{width:100% !important; height:100%; }

  .slideshow__btn-wrapper .slideshow__btn{width:100% !important; height:100% !important;  background:none !important;  font-size:1px; text-align:left; text-indent:-9999px; }

  .slideshow__btn-wrapper .slideshow__btn:hover{background:none !important;  }
  
  
    .slideshow__text-content--mobile-active .slideshow__btn--mobile{width:100% !important; height:100% !important;  background:none !important;  font-size:1px; text-align:left; text-indent:-9999px; }
 
  .slideshow__text-content--mobile-active .slideshow__btn--mobile:hover{background:none !important;  } 
  
.small-warp{width:100%; margin-top:30px;}
.small-warp-s{max-width: 1480px;  margin:0 auto;}
.small-warp-ul{text-align:center;line-height:60px; height:60px; } 
.small-warp-ul li {display:inline-block; text-align:center; padding:0 10px; position:relative;}
.small-warp-ul li img{vertical-align:middle;}
.small-warp-ul li p{display:inline-block; color:#000; margin-left:10px; word-break:break-all;  }

 

 
.test-warp-w{width:100%;}
.test-warp{width:72.5%;  margin:0 auto; overflow:hidden;}

.test-warp1{width:49.5%; float:left;}

.test-warp2{width:49.7%;  float:right; position:relative; }

.test-warp1-s{width:100%;   position:relative; margin-bottom:2%;}

.test-warp1-x{width:100%;}

.test-warp1-x img{width:100%;}

.test-warp2-s{width:100%;    position:relative;}

.test-warp2-s-x{width:100%;  }

.test-warp2-s-x img{width:100%;  }
.test-abs{position:absolute;}
.test-warp1-s .test-abs{top:20%; width:50%; right:0%; color: #fff; font-size:1.5vw; font-weight:600;}
.test-warp2-s .test-abs{top:10%; left:5%; color: #000; font-size:1.5vw; font-weight:600; line-height:140%; }
.test-warp1-s  .test-title-s{margin-top:10px; font-size:1vw; font-weight:400;}
.test-warp1-s .test-abs{color:#ffffff;}

.test-warp2w-s2-s-n{margin-bottom:4%;}

.test-warp2w-s{width:53%; float:left }

.test-warp2w-s2{width:45.7%; float:right }

.test-warp2w-s2-s{width:100%;}
.test-warp2w-s2-s img{width:100%;}

.test-warp2w-s-po{position:relative;}
 
.test-warp2w-s1 .test-abs{position:absolute; top:70%; left:5%; font-size: 1.5vw;    font-weight: 600; line-height:140%;}

.test-warp2w-s2-s2{position:relative;}

.test-warp2w-s2-s2ax{position:relative;}

.test-warp2w-s2-s2ax  .test-abs{position:absolute; top:10%; left:10%; font-size: 1.5vw;    font-weight: 600; line-height:140%;}

.pageContentList{width:1200px; margin:0 auto;}
.pageContentList ul{width:1200px;}
.pageContentList ul li{display:inline-table; width:33%;}
.pageContentList ul li img{ width:100%;}  
.index-section{padding:0  !important;}
#MainContent{padding:0  !important;}
 .indexLogos{width:100%; max-width:1400px; margin:0 auto; margin-top:35px;}
.indexLogos ul{width:100%;}
.indexLogos ul li{width:15.5%; display:inline-block;     text-align: center; }
.indexLogos ul li img{width:60%;}
  .site-footer{margin-top:30px} 
  #shopify-section-1641527635f56d9ffd{display:none;} 
  .news-title-s{font-weight: 700; font-size: 2rem; text-align:center; width:100%; height:40px; line-height:30px; margin-top:65px; margin-bottom:65px;}
@media screen and (max-width: 750px) {
 #shopify-section-16407674855ef1e416{display:none;}
 #shopify-section-1641527635f56d9ffd{display:block; margin-top:0 !important} 
.small-warp-ul{text-align:center;line-height:30px !important; height:auto !important; } 
.small-warp-s{width:100%  !important}
.small-warp-ul li{width:49%;  padding:0 !important; }
.small-warp-ul li img{width:25px;}
.small-warp-ul li p{margin-left:5px !important; font-size:12px !important;}
  .test-warp{width:95%;}
.test-warp1{width:100% !important;}
.test-warp{overflow:auto !important;}
.test-warp-w{margin-top:10px;}
.test-warp2{width:100% !important; margin-top:8px;}
  .pageContentList{width:100% !important}
  .pageContentList ul{width:100% !important}
  .pageContentList li{width:95% !important; margin:0 auto;}
  .indexLogos{width:90%;}
.indexLogos ul li{width:15%;  }
  .indexLogos ul li img{width:80%;}
   .slideshow__btn-wrapper .slideshow__btn{display:block !important;}
  .slideshow__text-content--mobile {position: absolute;
    top: -95vh;
    width: 110%;}
}
  
</style>
{{ content_for_index }}

<div class="small-warp">
	<div class="small-warp-s">
		<ul  class="small-warp-ul">
			<li>
				<img src="https://cdn.shopify.com/s/files/1/0528/0618/9234/files/1.svg?v=1640574867">
				<p>Fast Delivery</p>
			</li>
			<li>
				<img src="https://cdn.shopify.com/s/files/1/0528/0618/9234/files/2.svg?v=1640574888">
				<p>Secured Payment</p>
			</li>
			<li>
				<img src="https://cdn.shopify.com/s/files/1/0528/0618/9234/files/3.svg?v=1640574888">
				<p>1-Year Warranty</p>
			</li>
			<li>
				<img src="https://cdn.shopify.com/s/files/1/0528/0618/9234/files/4.svg?v=1640574888">
				<p>30-Day Money Guarantee</p>
			</li>
		<ul>
	</div>
</div>
<div class="clearfix"></div>
<div class="clearit"></div>
      
      <div class="news-title-s">
        Product Collection
      </div>
      
 <div class="pageContentList">
	<ul>
		<li>
			<a href="https://shop.usmile.com/collections/toothbrushes"  target="_blank">
				<img src="https://cdn.shopify.com/s/files/1/0528/0618/9234/files/20220104-111437.jpg?v=1641286362">
			</a>
		</li>
		<li>
			<a href="https://shop.usmile.com/collections/water-flossers"  target="_blank">
				<img src="https://cdn.shopify.com/s/files/1/0528/0618/9234/files/20220104-111432.jpg?v=1641286362">
			</a>
		</li>
		<li>
			<a href="https://shop.usmile.com/collections/accessories-1"  target="_blank">
				<img src="https://cdn.shopify.com/s/files/1/0528/0618/9234/files/20220104-111009.jpg?v=1641286362">
			</a>
		</li>
	</ul>
</div>     
      
<div class="news-title-s">
	Why usmile?
</div>

<div class="test-warp-w">
	<div class="test-warp" id="testHightw">
		<div class="test-warp1" id="testHight">
			<div class="test-warp1-s">
				<div class="test-warp1-x">
					<!--图片尺寸720px*466px-->
					<img src="https://cdn.shopify.com/s/files/1/0528/0618/9234/files/08_75f7e4a5-3155-4fd8-8e97-c3c28ff000e8.jpg?v=1641287508">
				</div>
				 
			</div>
			<div class="test-warp2-s">
				<div class="test-warp2-s-x">
				<!--图片尺寸   880*280-->
					<img src="https://cdn.shopify.com/s/files/1/0528/0618/9234/files/03_fd69b87a-536f-4ce5-bbba-1a5ac5dfb91d.jpg?v=1648017238">
				</div>
				 
			</div>
		</div>
		
		<div class="test-warp2">
			 <div class="test-warp2w-s test-warp2w-s-po test-warp2w-s1">
			 <!--图片尺寸   466*874-->
				<img src="https://cdn.shopify.com/s/files/1/0528/0618/9234/files/Sonic_Oral_care.jpg?v=1648018535">
				 
			 </div>
			  <div class="test-warp2w-s2">
				<div class="test-warp2w-s2-s test-warp2w-s2-s-n">
				 <!--图片尺寸   406*382-->
					<img src="https://cdn.shopify.com/s/files/1/0528/0618/9234/files/20220323-170345.jpg?v=1648026330">
				</div>
				<div class="test-warp2w-s2-s test-warp2w-s2-s2ax">
				 <!--图片尺寸   406*468 -->
					<img src="https://cdn.shopify.com/s/files/1/0528/0618/9234/files/electric_toothbursh.jpg?v=1648018535">
					<div class="test-abs">
						
					</div>
				</div>
			 </div>
		</div>
		
	</div>
</div>

<div class="news-title-s">
Awards
</div>

<div class="indexLogos">
	<ul>
		<li>
			<img src="https://cdn.shopify.com/s/files/1/0528/0618/9234/files/01_19eceade-2ca5-41a1-bae1-3c8853a804b8.jpg?v=1641345475">
		</li>
		<li>
			<img src="https://cdn.shopify.com/s/files/1/0528/0618/9234/files/02_a3398175-e80b-4faf-812a-7bbefe59f964.jpg?v=1641345476">
		</li>
		<li>
			<img src="https://cdn.shopify.com/s/files/1/0528/0618/9234/files/03_35500f3b-a6d2-405c-bfb6-0fedfbefa670.jpg?v=1641345475">
		</li>
		 
		<li>
			<img src="https://cdn.shopify.com/s/files/1/0528/0618/9234/files/05_12bfb6d4-4015-4433-9cf2-291fb4a2d6b6.jpg?v=1641345476">
		</li>
		<li>
			<img src="https://cdn.shopify.com/s/files/1/0528/0618/9234/files/06_ad40930a-34f8-4e39-a13f-b347410b609b.jpg?v=1641345476">
		</li>
		<li>
			<img src="https://cdn.shopify.com/s/files/1/0528/0618/9234/files/07_db554c8f-300d-4798-8daa-b42fd937ff06.jpg?v=1641345476">
		</li>
	</ul>
</div>


