

<style>
.page-news-banner{width:100%;}
.page-news-banner img{width:100%;}
.page-news-banner a{line-height: 0;    display: block;}
.page-news-banner-m a{line-height: 0;    display: block;}
.page-news-warpb{width:100%; background:url('https://cdn.shopify.com/s/files/1/0528/0618/9234/files/20220316-105029.png?v=1647401008'); line-height:160%;}
.page-news-warp{width:100%; max-width:1170px; margin:0 auto;}
.page-news-title1{  text-align:right; padding:20px;}
.page-news-title-h3{text-align:center;  padding:15px 0;    font-weight: 700;     font-size: 35px;     margin-bottom: 10px; color: #000;     font-family: Poppins;}
.page-news-title-h2{font-size: 25px;    padding:15px 0;   font-weight: 500; text-align:center;      color: #000;    text-align: center;    font-family: Poppins;}
.page-news-productlists{width:100%; }
.page-news-productlists-lis{width:30.5%;      display: inline-block;  margin-right:1%; background:#ffffff; padding:2.5% 1.5%; margin-top:2.5%;}
.page-news-productlists-lis-img{width:100%; text-align:center; display:block;}
.page-news-productlists-lis-img img{width:90%;}
.page-news-productlists-lis-title{font-size: 20px;   color: #333;    margin-bottom: 5px;    text-align: center;    margin-top: 10px; line-height:140%; font-weight: bold; line-height: 1.5em;}
.page-news-productlists-lis-title1{font-size: 14px;    font-family: Poppins;    text-align: center;    color: #585757;    margin-bottom: 0;}
.page-news-productlists-lis-a{    font-size: 16px;    width: 100%;    text-align: center;    margin: 10px 0; color: #006ce5; display:block; }
.page-news-productlists-lis-pro{text-align:center;}
.page-news-productlists-lis-pro span{text-align:center; display: inline;    font-family: Poppins;    line-height: 1.5em;    color: #d62d2d;    font-size: 25px;    font-weight: 700;    margin-bottom: 20px;    text-align: center;    margin-top: 0;	}
.page-news-productlists-lis-pro .page-news-productlists-lis-pro2{color:#000;     text-decoration-line: line-through;}
.page-news-productlists-lis-add {text-align:center; width:100%;margin-top:15px; }
.page-news-productlists-lis-add a{background: #2e2e2e;font-family: Poppins;font-weight: 700;font-size: 14px;line-height: 1.5em;padding: 10px 20px;color: #fff; border-radius: 20px;text-align:center;margin-top: 10px;}
.page-news-productlists-lis-add a:hover{background:#D42F2E; color:#ffffff !important; }
.page-news-productlists-two{width:100%;  padding:25px 0; }
.page-news-productlists-two-title{ font-size: 40px;font-weight: 700;width:100%; 	color: #000;margin-top: 40px;text-align: center;font-family: Poppins;margin-bottom: 40px}
.page-news-productlists-twosam{width:95%; padding:2.5%; background:#ffffff; margin-top:30px; border-radius: 20px;}
.page-news-productlists-twosam-left{display: inline-block; width:48%; text-align:center; vertical-align: middle;}
.page-news-productlists-twosam-right{display: inline-block; width:45%; padding:0 1.5%;     vertical-align: top;}
.page-news-productlists-twosam-right-title{font-size: 22px;color: #333;margin-bottom: 5px;text-align: left;margin-top: 10px;line-height: 140%;font-weight: bold;line-height: 1.5em;}
.page-news-productlists-twosam-right .page-news-productlists-lis-add{text-align:left; margin-top:25px;}
.page-news-productlists-twosam-left img{width:65%;}
.page-news-productlists-lis-last{margin-right:0;}
.page-news-productlists-twosam .page-news-productlists-lis-a{text-align:left;}
.page-news-productlists-two-banner{width:100%; margin-top:20px; display:block;}
.page-news-productlists-two-banner img{width:100%;}
.page-news-productlists-twosam-left span{border:2px solid #A64C5A; display:block; }
.page-news-banner-m{width:100%;  display:none;}
.page-news-banner-m img{width:100%;}
.page-news-productlists-two-banner-m{display:none; width:95%; margin:0 auto}
.page-news-productlists-twosam-right .page-news-productlists-lis-pro{text-align:left; margin-top:10px;} 
.main-content{padding-top:  0 !important;}
.site-footer{margin-top:0 !important;}

 
@media screen and (max-width: 750px) {
.page-news-banner{display:none;}
.page-news-banner-m{display:block !important;}
.page-news-title-h3{line-height: 120%;}
.page-news-title-h2{line-height: 120%;}
.page-news-productlists-lis{width:90% !important; margin:0 auto; display:block; margin-bottom:20px; padding:7% 1.5%;} 
.page-news-productlists-two-title{    line-height: 140%;}
.page-news-productlists-twosam{width:90% !important; margin:0 auto; margin-bottom:20px; padding:5% 2.5%;}
.page-news-productlists-twosam-left{width:100% !important;}
.page-news-productlists-twosam-right{width:100% !important;}
.page-news-productlists-two-title{font-size:2em;}
.page-news-productlists-two-banner{display:none !important; }
.page-news-productlists-two-banner-m{display:block;}
.page-news-productlists-two{padding-top:20px  !important; }
.page-news-title1{text-align:center !important; }
}

</style>
<!--第一张banner-电脑端-->
<div class="page-news-banner">
	<a href="https://shop.usmile.com/collections/all">
		<img src="https://cdn.shopify.com/s/files/1/0528/0618/9234/files/02_5b52a9c9-556b-4967-a979-e3f2cc9a17c7.jpg?v=1647400894">
	</a>
	
</div>
<!--第一张banner-移动端-->
<div class="page-news-banner-m">
<a href="https://shop.usmile.com/collections/all">
	<img src="https://cdn.shopify.com/s/files/1/0528/0618/9234/files/02_5f598a61-8a6b-4ad4-9813-6c043748a513.jpg?v=1647401061">
</a>	
</div>
<div class="page-news-warpb">
	<div class="page-news-warp">
		<div class="page-news-title1">
			*All gifts for eligible orders will be shipped with your order automatically.
		</div>
		<div class="page-news-title-h3">
			St.Patrick's Day Limited Sale!
		</div>
		<div class="page-news-title-h2">
			Shop Now & Receive before St.Patrick's Day
		</div>
		<!--产品第一版三款牙刷-->
		<div class="page-news-productlists">
			<div class="page-news-productlists-lis">
				<span class="page-news-productlists-lis-img">
					<img src="https://cdn.shopify.com/s/files/1/0528/0618/9234/files/1_fe52b06e-7f4f-4bde-be26-0e4e54cec0c2.jpg?v=1647401105">
				</span>
				<p class="page-news-productlists-lis-title">
					Best of usmile - Y1s Electric Toothbrush
				</p>
				<div class="page-news-productlists-lis-title1">
					• 38,000 RPM Strong Power</br>
					• Ergonomic grip design</br>				 
					• 3 Brushing Modes</br>
					• 180 Days Battery life</br>
					• Type-C Quick Charging</br>				 
				</div>
				<a class="page-news-productlists-lis-a" href="https://shop.usmile.com/products/usmile-y1s-sonic-electric-toothbrush"> > View Details</a>
				<div class="page-news-productlists-lis-pro">
					<span>$49.99</span>
					<span class="page-news-productlists-lis-pro2">$98.09</span>
				</div>
				<div class="page-news-productlists-lis-add">
					<a href="https://shop.usmile.com/products/usmile-y1s-sonic-electric-toothbrush">
						<i class="page-news-cart-icontxt"></i>
						<span>Add to Cart</span>						
					</a>
				</div>
			</div>
			
			<div class="page-news-productlists-lis">
				<span class="page-news-productlists-lis-img">
					<img src="https://cdn.shopify.com/s/files/1/0528/0618/9234/files/3_1c7749fb-a248-4312-a968-fbadf78ab2e7.jpg?v=1647401105">
				</span>
				<p class="page-news-productlists-lis-title">
					Best of usmile - U3 Electric Toothbrush Double Set
				</p>
				<div class="page-news-productlists-lis-title1">
					• 38,000 RPM Strong Power</br>
					• Large-sized Color Screen</br>				 
					• 4 Brushing Modes with 3 strengths</br>
					• 180 Days Battery life</br>
					• Type-C Quick Charging 2.0</br>				 
				</div>
				<a class="page-news-productlists-lis-a" href="https://shop.usmile.com/products/best-of-usmile-u3-electric-toothbrush-set"> > View Details</a>
				<div class="page-news-productlists-lis-pro">
					<span>$129.99</span>
					<span class="page-news-productlists-lis-pro2">$159.99</span>
				</div>
				<div class="page-news-productlists-lis-add">
					<a href="https://shop.usmile.com/products/best-of-usmile-u3-electric-toothbrush-set">
						<i class="page-news-cart-icontxt"></i>
						<span>Add to Cart</span>						
					</a>
				</div>
			</div>
			
			<div class="page-news-productlists-lis page-news-productlists-lis-last">
				<span class="page-news-productlists-lis-img">
					<img src="https://cdn.shopify.com/s/files/1/0528/0618/9234/files/2_4c29960d-4010-4fee-b68f-233fb07f1bea.jpg?v=1647401105">
				</span>
				<p class="page-news-productlists-lis-title">
					Best of usmile - P1 Electric Toothbrush Double Set
				</p>
				<div class="page-news-productlists-lis-title1">
					• 38,000 Vibrations Per Minute</br>
					• Lightweight & Portable</br>				 
					• 3 Brushing Modes</br>
					• Easy to Use</br>
					• 180 Days Battery Life</br>				 
				</div>
				<a class="page-news-productlists-lis-a" href="https://shop.usmile.com/products/best-of-usmile-p1-electric-toothbrush-set"> > View Details</a>
				<div class="page-news-productlists-lis-pro">
					<span>$72.99</span>
					<span class="page-news-productlists-lis-pro2">$102.98</span>
				</div>
				<div class="page-news-productlists-lis-add">
					<a href="https://shop.usmile.com/products/best-of-usmile-p1-electric-toothbrush-set">
						<i class="page-news-cart-icontxt"></i>
						<span>Add to Cart</span>						
					</a>
				</div>
			</div>
		</div>
		
		<div class="page-news-productlists-two">
		
			<div class="page-news-productlists-two-title">
				Brush & Floss Routine
			</div>
			<div class="page-news-productlists-twosam">
				<div class="page-news-productlists-twosam-left">
					<span>
						<img src="https://cdn.shopify.com/s/files/1/0528/0618/9234/files/01_8a6635d5-2fff-412b-956c-652ed2eb0537.png?v=1643264964">
					</span> 
				</div>
				<div class="page-news-productlists-twosam-right">
					<div class="page-news-productlists-twosam-right-title">
						Best of usmile - Y1s Electric Toothbrush & C1 Water Flosser Double Set
					</div>
					<a class="page-news-productlists-lis-a" href="https://shop.usmile.com/products/best-of-usmile-y1s-electric-toothbrush-c1-water-flosser-double-set?_pos=2&_psq=y1&_ss=e&_v=1.0"> > View Details</a>
					<div>
						• 38,000 RPM Strong Power</br>
						• Ergonomic grip design</br>				 
						• 3 Brushing Modes</br>
						• 180 Days Battery life</br>
						• 200ml detachable reservoir/water tank</br>				 
						• Up to 1200 pulses per minute </br>				 
					</div>
					<div class="page-news-productlists-lis-pro">
						<span>$195.99</span>
						<span class="page-news-productlists-lis-pro2">$248.98 </span>
					</div>
					<div class="page-news-productlists-lis-add">
						<a href="https://shop.usmile.com/products/best-of-usmile-y1s-electric-toothbrush-c1-water-flosser-double-set?_pos=2&_psq=y1&_ss=e&_v=1.0">
							<i class="page-news-cart-icontxt"></i>
							<span>Add to Cart</span>						
						</a>
					</div>
				</div>					
			</div>	
			<div class="page-news-productlists-two-title">
				Smart Display Toothbrush
			</div>
			<div class="page-news-productlists-twosam">
				<div class="page-news-productlists-twosam-left">
					<span>
						<img src="https://cdn.shopify.com/s/files/1/0528/0618/9234/files/02.png?v=1643264964">
					</span>
				</div>
				<div class="page-news-productlists-twosam-right">
					<div class="page-news-productlists-twosam-right-title">
						Best of usmile - U3 Electric Toothbrush Double Set
					</div>
					<a class="page-news-productlists-lis-a" href="https://shop.usmile.com/products/best-of-usmile-u3-electric-toothbrush-set"> > View Details</a>
					<div>
						• 38,000 RPM Strong Power</br>
						• Large-sized Color Screen</br>				 
						• 4 Brushing Modes with 3 strengths</br>
						• Faded Filaments</br>
						• DuPont High quality materials </br>				 
						• Fast Local Shipping </br>				 
					</div>
					<div class="page-news-productlists-lis-pro">
						<span>$129.99</span>
						<span class="page-news-productlists-lis-pro2">$159.98 </span>
					</div>
					<div class="page-news-productlists-lis-add">
						<a href="https://shop.usmile.com/products/best-of-usmile-u3-electric-toothbrush-set">
							<i class="page-news-cart-icontxt"></i>
							<span>Add to Cart</span>						
						</a>
					</div>
				</div>					
			</div>	
		</div>		
	</div>
</div>


<div class="page-news-warpb">
	<div class="page-news-warp">
	<!--banner 3的位置-->
	<div class="page-news-productlists-two">		
		<div class="page-news-productlists-two-title">
			Choose Your Gift!
		</div>				
		<div class="page-news-productlists-two-banner">
			<a href="https://shop.usmile.com/collections/all">
				<img src="https://cdn.shopify.com/s/files/1/0528/0618/9234/files/03_f6182ece-1e8e-414a-b70c-4ebc16674954.jpg?v=1647402883">
			</a>
		</div>		
		<div class="page-news-productlists-two-banner-m">
			<a href="https://shop.usmile.com/collections/all">
				<img src="https://cdn.shopify.com/s/files/1/0528/0618/9234/files/03_2e99e913-9daf-4468-87e2-ae441eae2edb.jpg?v=1647402950">
			</a>
		</div>
	</div>	
	</div>
</div>	



	<div class="page-news-warpb">
		<div class="page-news-warp">
		<div class="page-news-productlists-two">
		
			<div class="page-news-productlists-two-title">
					Get More Discount on Accessories
			</div>
			<div class="page-news-productlists-twosam">
				<div class="page-news-productlists-twosam-left">
					<span>
						<img src="https://cdn.shopify.com/s/files/1/0528/0618/9234/files/04.png?v=1643421608">
					</span> 
				</div>
				<div class="page-news-productlists-twosam-right">
					<div class="page-news-productlists-twosam-right-title">
						usmile Electric Toothbrush Whitening Head - 2PCS
					</div>
					<a class="page-news-productlists-lis-a" href="https://shop.usmile.com/products/usmile-electric-toothbrush-head-white-2pcs"> > View Details</a>
					<div>
						• DuPont High Density Filaments</br>
						• End Rounded Filaments</br>				 
						• 3D Arc Design</br>
						• Fast Local Shipping</br> 
					</div>
					<div class="page-news-productlists-lis-pro">
						<span>$9.99</span>
						<span class="page-news-productlists-lis-pro2">$18.99 </span>
					</div>
					<div class="page-news-productlists-lis-add">
						<a href="https://shop.usmile.com/products/usmile-electric-toothbrush-head-white-2pcs">
							<i class="page-news-cart-icontxt"></i>
							<span>Add to Cart</span>						
						</a>
					</div>
				</div>					
			</div>	
			
			<div class="page-news-productlists-twosam">
				<div class="page-news-productlists-twosam-left">
					<span>
						<img src="https://cdn.shopify.com/s/files/1/0528/0618/9234/files/03_73bad427-9df4-4a96-aca0-efdcd0070168.png?v=1643421719">
					</span>
				</div>
				<div class="page-news-productlists-twosam-right">
					<div class="page-news-productlists-twosam-right-title">
						usmile Electric Toothbrush Head Diamond Series - 2PCS
					</div>
					<a class="page-news-productlists-lis-a" href="https://shop.usmile.com/products/usmile-replacement-heads-2pcs-pro-series"> > View Details</a>
					<div>
						• Food Grade Material</br>
						• Diamond-grade Filaments</br>				 
						• 95% Rounded Rate</br>
						• High Density</br> 	  
					</div>
					<div class="page-news-productlists-lis-pro">
						<span>$9.99</span>
						<span class="page-news-productlists-lis-pro2">$18.99 </span>
					</div>
					<div class="page-news-productlists-lis-add">
						<a href="https://shop.usmile.com/products/usmile-replacement-heads-2pcs-pro-series">
							<i class="page-news-cart-icontxt"></i>
							<span>Add to Cart</span>						
						</a>
					</div>
				</div>					
			</div>	
		</div>
	</div>	
</div>

 
<!--最后一屏banner-->
<div class="page-news-banner">
	<a href="https://shop.usmile.com/collections/accessories-1">
		<img src="https://cdn.shopify.com/s/files/1/0528/0618/9234/files/05_09b136db-e7a7-405c-96f3-00fa4ccc6001.jpg?v=1647403018">
	</a>	
</div>
<!--最后一屏banner-移动端-->
<div class="page-news-banner-m">
	<a href="https://shop.usmile.com/collections/accessories-1">
		<img src="https://cdn.shopify.com/s/files/1/0528/0618/9234/files/05_f2c02c64-60bd-4c00-8570-98e1297b994a.jpg?v=1647403002">
	</a>
</div>