<div>
   	{% section 'slideshow' %} 
    <div class="brand-introduction" style="text-align: center;font-size: 35px;">
    <h3>About usmile</h3>
    </div>
    {% section 'text-with-image' %} 
  
    <div class="oral-care-brand" style="text-align: center;font-size: 35px;">
    <h3>Why usmile</h3>
    </div> 
  
    {% section 'texts-with-image' %}
    {% section 'logo-bar'%}
  
    <div class="marketing" style="text-align: center;font-size: 35px;">
    <h3>Marketing</h3>
    </div> 
    {% section 'slideshow-marketing'%}

    <div class="milestone" style="text-align: center;font-size: 35px;">
    <h3>Brand Milestones</h3>
    </div> 
    {% section 'slideshow-milestone'%}
  

</div>